body {
    background-color: rgb(216, 195, 237);
    margin: 0px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;

    img {
        height: 80px;
    }

    text-align: center;
    background-color: blueviolet;
}

header>nav {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 550px;
    margin: 25px;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.main > section{
    margin: 5px;
    background-color: white;
    flex: 4;
}
.main > aside{
    margin: 5px;
    background-color: rgb(219, 209, 227);
    flex: 1;
}

a :link{    
    text-decoration: none;
}

a :hover{
    text-decoration: underline;
    color: rgb(144, 144, 144);
}

header a{
    color: white;
}

.cd{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: blueviolet;
}

.idsen{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

input[type=text], select {
    width: 62%;
    padding: 12px 20px;
    border: 2px solid rgb(65, 19, 108);
    border-radius: 10p  x;
}

#idade{
    width: 3%;
    border: 2px solid rgb(65, 19, 108);
    border-radius: 10px;
}

#senha{
    width: 35%;

    border: 2px solid rgb(65, 19, 108);
    border-radius: 10px;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    border: 2px solid rgb(65, 19, 108);
    border-radius: 10px;
}

input[type=submit], select {
    width: 50%;
    padding: 12px 20px;
    border: 2px solid rgb(226, 156, 43);;
    border-radius: 10px;
    background-color: rgb(226, 156, 43);
}

input[type=reset], select {
    width: 50%;
    padding: 12px 20px;
    margin: 5px;
    margin-top: 10px;
    border: 2px solid rgb(226, 156, 43);
    border-radius: 10px;
    background-color: rgb(226, 156, 43);
}

.list{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 60px;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 10px;
  }

  table {background-color: #ffffff;}

  table tr:hover {background-color: #d25a1028;}

  table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #d25a10;
    color: white;
  }
  
